
$white: #fff;
$black: #000;

$primary: #2a2a37;
$secondary: #f1ede9;
$tertiary: #36a6ce;
$tertiary-alt: #4267b2;
$accent-soft: #d1a85c;
$accent-strong: #c22751;

$header-height: 5rem;
$border-radius: 20px;

$font-family: "Pixel";
// FONT-SIZE

$small-title : 36px;
$sub-title : 28px;

