@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Pixel";
  src: url(font/visitor1.ttf) format("truetype");
}
@font-face {
  font-family: "NewRodin";
  font-weight: 100;
  src: url(font/FOT-NewRodin\ Pro\ L.otf) format("opentype");
}
@font-face {
  font-family: "NewRodin";
  font-weight: 200;
  src: url(font/FOT-NewRodin\ Pro\ M.otf) format("opentype");
}
@font-face {
  font-family: "NewRodin";
  font-weight: 300;
  src: url(font/FOT-NewRodin\ Pro\ DB.otf) format("opentype");
}
@font-face {
  font-family: "NewRodin";
  font-weight: 400;
  src: url(font/FOT-NewRodin\ Pro\ B.otf) format("opentype");
}
@font-face {
  font-family: "NewRodin";
  font-weight: 500;
  src: url(font/FOT-NewRodin\ Pro\ EB.otf) format("opentype");
}
@font-face {
  font-family: "NewRodin";
  font-weight: 600;
  src: url(font/FOT-NewRodin\ Pro\ UB.otf) format("opentype");
}
html {
  scroll-behavior: smooth;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
}
html:has(.loading-screen) {
  scroll-behavior: initial;
}

h2 {
  font-size: 4rem;
  line-height: 1;
}

p {
  font-family: NewRodin;
  font-weight: 300;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: hsl(39deg, 56%, 59%);
}
::-webkit-scrollbar-thumb:hover {
  background: hsl(344deg, 67%, 46%);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

.absolute-traslate {
  position: absolute;
  transform: translate(-50%, -50%);
}

.fullscreen-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  width: 100vw;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: overlay;
  position: static;
  font-family: "Pixel";
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f1ede9;
  background: hsl(240deg, 13%, 19%);
  transition: background 0.3s ease-in-out;
  /* &:has(.section-title.show){
    animation: toYellow .3s ease forwards;
  }
  &:has{

  }
  &:has{

  } */
}
body:has(.loading-screen) {
  overflow: hidden;
}
body:has(.loading-screen) .header {
  opacity: 0;
  pointer-events: none;
}
body .App {
  width: 100vw;
}
body .App .to-top {
  position: fixed;
  bottom: 1.5rem;
  right: 2rem;
  z-index: 100;
}
body .App .to-top .hide {
  scale: 0;
  pointer-events: none;
}
body .App .to-top .show {
  scale: 1;
  pointer-events: all;
}
body .App .header {
  font-size: 1.75rem;
  line-height: 1;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  pointer-events: none;
  margin: 0rem 0rem;
  background: linear-gradient(130deg, rgba(42, 42, 55, 0.9) 20%, rgba(42, 42, 55, 0.9) 59.95%, rgb(42, 42, 55) 60%, rgb(58, 58, 80) 100%);
  -webkit-backdrop-filter: invert(1) hue-rotate(180deg);
          backdrop-filter: invert(1) hue-rotate(180deg);
  box-shadow: 0 0 1rem 1rem rgba(42, 42, 55, 0.3);
  transition: all 0.3s ease;
}
body .App .header.show {
  position: fixed;
  top: 0;
}
body .App .header.hide {
  position: fixed;
  top: -7rem;
}
body .App .header .header-inner {
  height: 100%;
  margin: 0 3rem;
}
body .App .header .header-logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 3.5rem;
}
body .App .header .header-logo-container .header-logo {
  display: flex;
  height: 4rem;
  pointer-events: visible;
}
body .App .header .header-logo-container .header-logo img {
  height: 100%;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
}
body .App .header .header-nav li ~ li {
  margin-left: 1rem;
}
body .App .header .header-nav a {
  display: inline-block;
  padding: 0.5rem;
  text-transform: uppercase;
  position: relative;
  pointer-events: visible;
  transition: all 0.3s ease-out;
  /* &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: $accent-soft;
    height: 4px;
    width: 0;
    transition: width 0.3s ease;
  }

  &:hover::before,
  &:hover::after {
    width: 50%;
  }

  &::before {
    left: 0;
    top: 0;
    transform: translateY(.5rem);
  }

  &::after {
    right: 0;
    bottom: 0;
    transform: translateY(-.5rem);

  } */
}
body .App .header .header-nav a:hover {
  color: hsl(39deg, 56%, 59%);
}
body .App .start-button {
  overflow: hidden;
  padding: 0.25rem 1rem;
  text-align: center;
  font-size: 2rem;
  border: 0;
  outline: 0;
  background-color: hsl(39deg, 56%, 59%);
  cursor: pointer;
  font-family: "Pixel";
  text-transform: uppercase;
  letter-spacing: 2px;
  will-change: scale;
  outline: 0rem;
  transition: all ease 0.3s;
  border: solid 0.25rem #f1ede9;
}
body .App .start-button::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1rem;
  rotate: -60deg;
  background-color: hsl(39deg, 56%, 59%);
  mix-blend-mode: overlay;
  transform: translateY(-450%);
  transition: all ease 0.3s;
}
body .App .start-button:hover {
  transform: scale(0.9);
  box-shadow: 0 0 0 0.25rem hsl(344deg, 67%, 46%), 0 0 0 0.5rem hsl(240deg, 13%, 19%);
}
body .App .start-button:hover::after {
  transform: translateY(550%);
}
body .App .start-section .start {
  z-index: 2;
  width: 42rem;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .App .start-section .start .logo-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}
body .App .start-section .start .logo-container img {
  width: 100%;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
}
body .App .rule-section .rule-title {
  top: 48vh;
  left: 40vw;
  text-shadow: -0.15rem 0.15rem hsl(39deg, 56%, 59%), -0.3rem 0.3rem hsl(344deg, 67%, 46%);
}
body .App .rule-section .rule-content {
  height: 24rem;
  overflow-y: auto;
  width: 45%;
  top: 50%;
  left: 50%;
  padding: 1rem;
  font-size: 2rem;
  line-height: 1;
  transition: all 0.3s ease;
}
body .App .rule-section .rule-content.hide {
  opacity: 0;
  pointer-events: none;
}
body .App .rule-section .rule-content.show {
  opacity: 1;
  pointer-events: all;
}
body .App .rule-section .rule-content .rule-header {
  align-items: flex-start;
  margin-bottom: 0.75rem;
  font-size: 4rem;
}
body .App .rule-section .rule-content .rule-header h3 {
  font-size: 4rem;
}
body .App .board-section .champion-section {
  width: 30%;
}
body .App .board-section .champion-section .board-section-container {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
body .App .board-section .champion-section .board-section-container .champion-title {
  text-shadow: -0.15rem 0.15rem hsl(39deg, 56%, 59%), -0.3rem 0.3rem hsl(344deg, 67%, 46%);
}
body .App .board-section .champion-section .board-section-container .champion-content {
  max-width: 250px;
  margin: 0 auto;
}
body .App .board-section .champion-section .board-section-container .champion-content .champions-card .sprite-wrapper {
  width: 250px;
  height: 300px;
}
body .App .board-section .champion-section .board-section-container .champion-content .champions-card .sprite-wrapper .sprite-img {
  width: 250px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
body .App .board-section .champion-section .board-section-container .champion-content .champions-card .random-button-card {
  background-color: hsl(39deg, 56%, 59%);
}
body .App .board-section .champion-section .board-section-container .champion-content .champions-card .random-button-card:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
body .App .board-section .champion-section .board-section-container .champion-content .champions-card .random-button-card:active {
  transform: scale(0.9);
  transition: 0.1s;
}
body .App .board-section .classification-section {
  width: 30%;
}
body .App .board-section .classification-section .top-player > ul > * {
  border-bottom: 1px solid black;
}
body .App .footer {
  height: 50vh;
  z-index: 100;
}
body .App .footer a {
  color: inherit;
  transition: all 0.15s ease-out;
}
body .App .footer a:hover {
  color: hsl(39deg, 56%, 59%);
}
body .App .footer .footer-wrapper {
  width: 60vw;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: hsl(240deg, 13%, 19%);
  /* filter: drop-shadow(.2rem .25rem rgb(0,0,0,.1)); */
}
body .App .footer .footer-wrapper .social-link-container {
  display: flex;
  gap: 2rem;
  font-size: 2rem;
}
body .App .footer .footer-wrapper .footer-link-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 8rem;
  justify-content: space-between;
}
body .App .footer .footer-wrapper .footer-link-wrapper .footer-link-container {
  text-align: center;
  flex: 1;
}
body .App .footer .footer-wrapper .footer-link-wrapper .footer-link-container:first-child {
  text-align: start;
}
body .App .footer .footer-wrapper .footer-link-wrapper .footer-link-container:last-child {
  text-align: end;
}
body .App .footer .footer-wrapper .footer-link-wrapper .footer-link-container h3 {
  font-size: 2rem;
}
body .App .footer .footer-wrapper .footer-link-wrapper .footer-link-container li {
  font-size: 1.5rem;
  line-height: 1;
}

#view {
  position: absolute;
  z-index: -1;
  filter: drop-shadow(0rem 0.75rem 0 rgba(0, 0, 0, 0.3));
}

.loading-screen {
  top: 0;
  left: 0;
  overflow: hidden;
  background: hsl(240deg, 13%, 19%);
  width: 100vw;
  height: 400vh;
  z-index: 10000;
}
.loading-screen .loading-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-screen .loading-wrapper .loading-animation {
  height: 8rem;
}

.header-logo-container:hover .face-logo #palpebra_3_,
.header-logo-container:hover .face-logo #palpebra_2_ {
  -webkit-animation: blink normal 0s ease forwards;
          animation: blink normal 0s ease forwards;
}
.header-logo-container:hover .face-logo #palpebra,
.header-logo-container:hover .face-logo #palpebra_1_ {
  opacity: 1;
}

@-webkit-keyframes blink {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(6.25%);
  }
}

@keyframes blink {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(6.25%);
  }
}
.section-title {
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  background: transparent;
  color: hsl(196deg, 61%, 51%);
  font-family: Pixel;
  line-height: 1;
  font-weight: 600;
  font-size: 4rem;
  mix-blend-mode: normal;
  z-index: 50;
  transition: opacity 0.3s ease-out;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}
.section-title.show {
  opacity: 1;
  -webkit-animation: title-in ease-in-out forwards;
          animation: title-in ease-in-out forwards;
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
}
.section-title.hide {
  opacity: 1;
  -webkit-animation: title-out ease-in-out forwards;
          animation: title-out ease-in-out forwards;
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
}
.section-title h3 {
  text-shadow: -1px 0 #f1ede9, 0px -1px #f1ede9, 1px 0 #f1ede9, 0px 1px #f1ede9, -3px 0 #f1ede9, 0px -3px #f1ede9, 3px 0 #f1ede9, 0px 3px #f1ede9;
  filter: drop-shadow(-4px 4px hsl(344deg, 67%, 46%));
  width: 28rem;
  text-align: center;
}
.section-title h3 span {
  text-overflow: clip;
}

@-webkit-keyframes title-in {
  0% {
    opacity: 0;
    background: transparent;
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes title-in {
  0% {
    opacity: 0;
    background: transparent;
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
@-webkit-keyframes title-out {
  0% {
    width: 100vw;
    height: 100vh;
  }
  100% {
    opacity: 0;
    background: transparent;
  }
}
@keyframes title-out {
  0% {
    width: 100vw;
    height: 100vh;
  }
  100% {
    opacity: 0;
    background: transparent;
  }
}
@-webkit-keyframes toYellow {
  0% {
    background: inherit;
  }
  100% {
    background: hsl(39deg, 56%, 59%);
  }
}
@keyframes toYellow {
  0% {
    background: inherit;
  }
  100% {
    background: hsl(39deg, 56%, 59%);
  }
}/*# sourceMappingURL=App.css.map */